<div [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">

  <h2 [ngStyle]="{color: getColor()}">{{postTitle}}</h2>
  <h3>Score : {{loveIts}}</h3>
  <h4 style="text-align: right">
    {{ postCreated | date:'EEEE d MMMM y'}}
  </h4>

  <p style="text-align: center">
    {{ postContent }}
  </p>

  <button name="OnLove" [ngStyle]="{color: 'green'}" (click)="onLove()">Love it!</button>
  <button type="button" name="OnDontLove" [ngStyle]="{color: 'red'}"(click)="onDontLove()">Don't love it!</button>
</div>
