<div class="container">
  <div class="row">
    <div class="<col-xs-12">
        <ul>
          <app-post-list-item *ngFor="let post of posts" [postTitle]="post.title" [postContent]="post.content"></app-post-list-item>
        </ul>
    </div>
  </div>
</div>
